*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
body a{
	text-transform: uppercase;
	text-decoration: none;
	color:#fff;
}
.cover{
	width: 100vw;
  	height: 100vh;
  	//background: linear-gradient(45deg, #004080, white);
	background-image: radial-gradient(circle farthest-corner at 0% 150% , #0D7EF0 0%,#00264d 100%);
	background-image: -webkit-radial-gradient(circle farthest-corner at 0% 150% , #0D7EF0 0%,#00264d 100%);
	background-image: -moz-radial-gradient(circle farthest-corner at 0% 150% , #0D7EF0 0%,#00264d 100%);
	position: relative;
	animation: decreaseCover 0.5s ease-in-out forwards;
	animation-delay: 2.5s;
	z-index: 10;
}

header{
	position: relative;
	width: 100%;
	height: 100px;
	opacity: 0;
	overflow: hidden;
	animation:fadeInHeader 0.2s ease-in-out forwards;
	animation-delay: 3s;
}

header .container{
	width: 80%;
	height: 100%;
	padding-left: 13%;
	margin:10px auto;
	animation:fadeInMenu 0.2s ease-in-out forwards;
	animation-delay: 3s;
}

header .container .logo{
	width: 20%;
	margin-top: 13px;
	float: left;
}

header .container .logo img{
	width: 100%;
	line-height: 30px;
}

.container nav{
	float: left;
	width: 80%;
	overflow: hidden;
}

.nav a{
	float: left;
	margin-left: 1%;
	padding:10px 4%;
	font-size: 0.8em;
	color:#fff;
	line-height: 30px;
}

.nav a:last-child{
	margin-right: 0;
}

.coverLogo{
	width: 20%;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	animation: fadeOutLogo 0.3s ease-in-out forwards;
	animation-delay: 2s;
}

@keyframes fadeInHeader{
	0%{
		opacity: 0;
		
	}
	25%{
		opacity: 0.2;
		
	}
	50%{
		opacity: 0.5;
		
	}
	100%{
		opacity: 1;
		
	}
}

@keyframes fadeInMenu{
	0%{
		
		transform: translateY(0px);
	}
	100%{
		
		transform: translateY(5px);
	}
}

@keyframes fadeOutLogo{
	0%{
		opacity: 1;
	}
	30%{
		opacity: 0.8;
		//transform: translate(-50%,-60%);
	}
	40%{
		opacity: 0.5;
		//transform: translate(-50%,-60%);
	}
	50%{
		opacity: 0.3;
		transform: translate(-50%,-60%);
	}
	
	100%{
		opacity: 0;
		display: none;
		transform: translate(-50%,-60%);
	}
}

@keyframes decreaseCover{
	0%{
		width: 100%;
	}
	100%{
		width: 55%;
	}
}

.coverLogo img{
	width: 100%;
}

.videoContainer{
	width: 70%;
	height: 100vh;
	position: absolute;
	right: 0;
	top:0;
	z-index: 1;
	overflow: hidden; 	
}

.videoContainer video{
	width: 100%;	
	position: absolute;
	right: 0px;
	top:0;
	transform: scale(1.5);
}

.overlayImg{
	width:67.7%;
	height: 250px;
	position: absolute;
	bottom:0px;
	right:0;
}
.overlayImg img{
	width: 100%;
	height: 100%;
}
.socialIcon{
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 200;
}

.socialIcon .icon{
	width: 25px;
	margin-left: 20px;
	float: left;
}
.fbIcon{
	height: 25px;
	background: url('../images/socialicon.png') no-repeat 10px -46px;
}
.twitterIcon{
	height: 25px;
	background: url('../images/socialicon.png') no-repeat 0px 3px;
}
.linkedInIcon{
	height: 25px;
	background: url('../images/socialicon.png') no-repeat -2px -21px;

}
.getEarlyAccess{
	position: absolute;
	top:35px;
	right: 75px;
	border: 2px solid #fff; 
	z-index: 20;
}

.getEarlyAccess a{
	
	font-size: 0.8em;
	padding:10px 15px;
	color:#fff;
	line-height: 30px;
}

.socialIcon a{
	position: absolute;
	top:23px;
	right: -11px;
}

.contentWrapper{
	width: 100%;
	height: 50%;
	position: absolute;
	border:2px solid #00A5CE;
	left: 20%;
	top:50%;
	margin-top:-25%;
}

.content{
	width: 70%;
	height: 50%;
	position: relative;
	border:2px solid #00A5CE;
	top: 50%;
	left: -10%;
	transform: translateY(-50%);
	
}